@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Oswald");

* { 
    margin: 0;
    /* outline: 0.5px red dashed; */
    box-sizing: border-box;
}

.header-container {
    display: flex;
    max-height: 800px;
}

header {
    display: flex;
    background-image: url("images/pexels-guduru-ajay-bhargav-939702.jpg");
    background-size: cover;
    background-position: center;
    background-color: #00000041;
    background-blend-mode: multiply;
    width: 100%;
}

.icon img{
    display: inline-flex;
    position: absolute;
    left: 20px;
    width: 100px;
}

.header-icon img{
    width: 200px;
    top: 20px;
}

.header-icon img:hover {
    transform: scale(1.1);
}

.header-text {
    display: flex;
    font-family: Anton;
    font-size: 5em;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    flex-wrap: wrap;
}

.footer-container {
    width: 100%;
    display: flex;
    background-color: rgb(38, 38, 38);
}

.footer-text {
    display: inline-flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px
}

.footer-icon-text {
    position: absolute;
    color: rgb(214, 214, 214);
    left: 35px;
    margin-top: 100px;
    font-size: 1.4em
}

.footicon {
    margin-top: 10px;
}

.content-section {
    display: inline-flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.blocktest1 {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.blocktest2 {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color: rgb(199, 199, 199);
}

.blocktext {
    text-align: center;
    padding: 1em;
}

.blueblock-section {
    display: flex;
    height: 500px;
    background-color: rgb(36, 38, 62);
    width: 100%;
    flex-direction: column;
}

.autumn-header {
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-family: Oswald;
    background-color: #00000061;
    padding: 5px;
}

.autumn-quote {
    text-align: center;
    width: 60%;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.q {
    padding: .5em;
}

.p1, .p2 {
    font-weight: bolder;
}

.autumn-pants {
    display: flex;
    width: 100%;
    height: 100%;
    color: rgb(206, 206, 206);
    justify-content: center;
    margin-left: -3em;
    align-items: center;
}

.autumn-pants img {
    display: inherit;
    width: 350px;
    align-self: center;
    border-radius: 50%;
}

.red-text {
    color: rgb(206, 206, 206);
    width: 100%;
    height: 100%;
}
